body {
  margin: 0;
  padding: 0;
}

a img {
  display: inline-block;
  float: left;
  height: 100px;
}

nav {
  display: inline-block;
  float: right;
  padding-top: 25px;

}

.navbar li {
  display: inline-block;
}

.navbar li a {
  text-decoration: none;
  padding-right: 50px;
  font-family: 'Lato', sans-serif;
  color: black;
}

hr {
  width: 100%;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

header h1 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 5px;
}

header span {
  color: #f3a9ba;
}

header p {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-top: 0;
}

.banner {
  text-align: center;
  padding-top: 50px;
}

.banner img {
  height: 400px;
  width: 80%;
  border-radius: 5px;
}

.aboutme h2 {
  margin-bottom: 50px;
  font-family: 'Pacifico', sans-serif;
  color: #f3a9ba;
}

.aboutme p {
  line-height: 25px;
}

.mywork p {
  line-height: 25px;
}

.mywork h2 {
  margin-bottom: 50px;
  font-family: 'Pacifico', sans-serif;
  color: #f3a9ba;
}

.aboutme, .mywork {
  text-align: center;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  padding: 75px 50px;
  padding-left: 260px;
}

table {
  width: 60%;
}

table img {
  width: 150px;
  height: 120px;
  padding: 10px;
}

.thanks {
  font-family: 'Pacifico', sans-serif;
  color: #f3a9ba;
  text-align: center;
  padding-top: 50px;
}

.contact {
  background-color: #2d2d2d;
  height: 350px;
}

.contact > h4 {
  font-family: 'Pacifico', sans-serif;
  color: #f3a9ba;
  margin-left: 10px;
  padding-top: 25px;
}

form > input,
form > textarea {
  background-color: #d9d9d9;
  border-radius: 2px;
  border: 1px solid black;
  display: block;
  font-size: 16px;
  margin: 5px;
  width: 30%;
  font-family: 'Lato', sans-serif;
  color: black;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  display: block;
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
  font-size: 16px;
}

.social {
  display: inline-block;
  float: right;
  letter-spacing: 25px;
}

.social a {
  width: 50px;
  height: 50px;
  color: #2d2d2d;
  background-color: #f3a9ba;
  text-decoration: none;
  border-radius: 50px;
  font-size: 50px;
}
